/*
Challenge: 
Add some space between the logo 
and the search field.

What are the two different ways 
we can do this with margins?

*/

.main {
    margin-top: 300px;
}

.search-input {
    width: 400px;
    display: block;
}

.logo-img {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    
}