/* Challenge - part 2: 
Replace the element selectors with class selectors */

.main {
    margin-top: 300px;
}

.search-input {
    width: 400px;
    display: block;
}

.logo-img {
    width: 300px;
    display: block;
    
}