/*
Challenge:
First, wrap the HTML elements in a <div> with an 
id called "header".

Then, select the "header" and use flexbox to achieve
the layout you've been provided in the design slide.
*/

body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background-color: #a2d2ff;
    color: #ffffff;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4 {
    text-shadow: 0px 0px 1px black;
}

#portrait-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9
}

h2, h4 {
    background: #EFB0C9;
}