
.card {
    display: flex;
    /*justify-content:space-evenly;*/
    border: 2px dotted blue;
    padding: 20px;
}

body {
    margin: 20px;
}

.profile-img {
    width: 150px;
    margin-right: 20px;
}
