/* 
    Challenge:
    Add colors to the card according to the design.
    black - #2b2839 (the text color)
    blue - #ddebf8
    purple - #d8cefe
    */
.card {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 8px solid #d8cefe;
}

body {
    margin: 20px;
}

.profile-img {
    width: 150px;
    /*margin-right: 20px;*/
}